/*
 * basic styles indpendent of eventual mobile view
 * = test layout
 * 
 * --> Schriftart und grundlegende Farben/Formen in theme-roller gestalten!
 */

/*experimental*/
body {
	background-color: #83C2FD !important;		
}
/* falls gradient gewünscht, umgebenden div für #header implementieren */
#header-wrapper {
	margin-top:10px;
}
#header {
	height:40px;
	border:0;
	background-color:#83C2FD;
	background-image: linear-gradient(180deg, white 0%, #83C2FD 100%); 
}
#header h1 {
	text-align: left;
}
#logo {
	width:100%;
	height:100%;
	
	background: url(../res/kwd-4-title.png) center center no-repeat;
	background-size:contain;
}
#page-title {
	padding-top:10px;
	margin-right:20px;
	text-align:right;
}
.page {
	background-color: #83C2FD;	
}
.page-content {
	background-color: white;
	padding:1em;
	margin:0.25em;
	margin-top:0;
	border:1px solid blue;
	border-radius:5px;
	border-top-right-radius: 50px;
	box-shadow:4px 4px 7px #aaa inset;
	text-shadow: 0 0 0;
}


.wichtig {
	font-weight:bold;
	font-size: 1.2em;
}

/* Startzustand: */
#headbackbutton {
	display:none;
}

.ui-content h2 {
	font-size:1em;
	font-style:italic;
	font-weight:bold;
}
.tachopage {
	background-color : black; 
}
.tachopage-content {
	color:white;
	text-shadow:0 0 0;

}
/* Schriftgröße berechnen wäre interessant */
#speed {
/*	-webkit-transform:scale(-1,1);*/
	text-align:center;
	font-size:150px;
	font-weight:bold;
	margin:0;
	padding : 0;
}

#load-result {
	color: green;
}
.projekt {
	display:none;
	width:350px;
	float:left;
	min-height:20px;
	margin:0 20px 20px 0;
	border:1px solid red;
}
.name {
	border-bottom: 1px solid blue;
}
.url {
	border-top: 1px solid green;
}
.name, .info, .image, .url {
	padding:10px;
}
.info{
	display: none;
}
/* nur Breite ergibt proportional?? */
.projekt .image img {
	width:325px;
	height:250px;
}

#project-images img {
	width:100%;
}
/* Code für Entwicklung wird mit
debug oder develope gekennzeichnet
und bei Bedarf ausgeblendet
*/
.debug,
.develope,
#debug-switch {
	display:block;
}
