/*
 * basic styles indpendent of eventual mobile view
 * = test layout
 * 
 * --> Schriftart und grundlegende Farben/Formen in theme-roller gestalten!
 */

/*experimental*/
body {
	background-color: #83C2FD;		
}
#header {
	background: url(../res/kwd3-titel.jpg) fixed top left no-repeat;
	background-size: 100%;
	border:0;
}
.page {
	background-color: #83C2FD;	
}
.page-content {
	background-image: linear-gradient(top,white 0%,black 50%);
	background-color: white;
	padding:1em;
	margin:0.25em;
	border:1px solid blue;
	border-radius:5px;
	border-top-right-radius: 100px;
	box-shadow:4px 4px 7px #aaa inset;
	text-shadow: 0 0 0;
}


.wichtig {
	font-weight:bold;
	font-size: 1.2em;
}

/* Startzustand: */
#headbackbutton {
	display:none;
}

.ui-content h2 {
	font-size:1em;
	font-style:italic;
	font-weight:bold;
}

#load-result {
	color: green;
}
.projekt {
	display:none;
	width:350px;
	float:left;
	min-height:20px;
	margin:0 20px 20px 0;
	border:1px solid red;
}
.name {
	border-bottom: 1px solid blue;
}
.url {
	border-top: 1px solid green;
}
.name, .info, .image, .url {
	padding:10px;
}
.info{
	display: none;
}
/* nur Breite ergibt proportional?? */
.projekt .image img {
	width:325px;
	height:250px;
}
